<!DOCTYPE html>
<html lang="es">

<head>

    <!-- Basic Page Needs
        ================================================== -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Lecturas</title>
    <meta name="description"
        content="La SEP a través de la Autoridad Educativa en la Ciudad de México tiene algunos materiales educativos que te servirán como apoyo durante estos días y junto con tu familia y maestr@s te invitamos a revisar la plataforma La Escuela en Casa">
    <meta name="keywords" content="AEFCM, La Escuela en Casa, Aprende, Casa, Tareas, Aprende en Linea">
    <meta name="author" content="">

    <!-- Favicons
        ================================================== -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <!-- Mobile Specific Metas
        ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

    <!--- Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap">

    <!-- CSS
        ================================================== -->
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="https://framework-gb.cdn.gob.mx/assets/styles/main.css">
    <link rel="stylesheet" href="/assets/styles/aec.css" />
    <link rel="stylesheet" href="/assets/styles/aec_lecturas.min.css">

    <script src="/assets/scripts/includehtml.js"></script>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
</head>

<body>
    <!-- <div w3-include-html="header.html"></div> -->
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#navbarMainCollapse">
                        <span class="sr-only">Interruptor de Navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="https://www.gob.mx/">
                        <img src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" width="128" height="48"
                            alt="Página de inicio, Gobierno de México">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="navbarMainCollapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="https://www.gob.mx/tramites">Trámites</a></li>
                        <li><a href="https://www.gob.mx/gobierno">Gobierno</a></li>
                        <li><a href="https://www.gob.mx/busqueda"><span class="sr-only">Búsqueda</span><i
                                    class="icon-search"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-inverse sub-navbar navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#subenlaces"-->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#subenlaces" aria-expanded="false">
                        <span class="sr-only">Interruptor de Navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand logo" href="/">&nbsp;</a>
                </div>
                <div class="collapse navbar-collapse" id="subenlaces">
                    <!--div id="subenlaces"-->
                    <ul class="nav navbar-nav navbar-right"></ul>
                </div>
            </div>
        </nav>
    </header>

    <div id="app" class="container">

        <nav class="navbar aec">
            <div class="row">
                <div class="col-sm-9">
                    <ol class="breadcrumb aec">
                        <li>
                            <a href="https://www.gob.mx/aefcm">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/aprende-en-casa/index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="#">...</a>
                        </li>
                        <li>
                            <a :href="breadcrumbUrl">{{ breadcrumbText }}</a>
                        </li>
                        <li class="active">Lecturas</li>
                    </ol>
                </div>
                <div class="col-sm-3 visible-md visible-lg">
                    <img class="img-responsive  navbar-logo" src="/assets/images/logo_header@2x.png" alt="">
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-sm-12" style="margin-top: -12px;">
                <img v-if="level == 'preescolar'" src="/assets/images/lecturas/banner_preescolar.svg"
                    style="max-width: 1400px;width: 100%;height: auto;" alt="Banner">
                <img v-if="level == 'primaria'" src="/assets/images/lecturas/banner_primaria.svg"
                    style="max-width: 1400px;width: 100%;height: auto;" alt="Banner">
                <img v-if="level == 'secundaria'" src="/assets/images/lecturas/banner_secundaria.svg"
                    style="max-width: 1400px;width: 100%;height: auto;" alt="Banner">
                <!--<img v-else src="/assets/images/lecturas/banner.svg" style="max-width: 1400px;width: 100%;height: auto;" alt="Banner">-->
            </div>
        </div>
        <div class="row header-text">
            <div class="col-sm-12">
                <h1 class="text-left">Lecturas</h1>
                <p style="font-size: 16px;">Se sugiere que realices una lectura diaria, que podrás seleccionar entre el
                    catálogo de lecturas disponibles en esta sección. Después de leer, es importante que con el apoyo de
                    tus papás elaboren al menos 3 preguntas generales de lo que leíste y las contestes. Esta actividad
                    te permitirá mejorar tu comprensión lectora.</p>
            </div>
        </div>
        <div class="row" style="margin-bottom: 23px;">
            <div class="col-sm-12">
                <h3 class="text-left"
                    style="font-size: 24px;font-weight: 600;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #01a2aa !important;">
                    Selecciona una opción</h3>
            </div>
        </div>

        <tabs>

            <tab v-for="(tab,index) in tabs" :name="tab.name" :selected="tab.active" :external-link="tab.externalLink"
                :img="URLImages+tab.image" :key="index">
                <div class="row form" v-if="tab.name == 'Lecturas Unicef'">
                    <div class="col-sm-6 search-container">
                        <div class="form-group has-search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            <input v-on:keyup.delete="backspace" @keypress="keypress" @click="showAllBooks" type="text"
                                v-model="search" class="form-control" placeholder="Buscar libros">
                        </div>
                    </div>
                    <div class="ol-lg-3 col-sm-1"></div>
                    <div class="ol-lg-3 col-sm-5 filter-btn" style="text-align: right">
                        <button class="btn btn-lg btn-default" @click="showFilters = !showFilters">
                            <img src="/assets/images/lecturas/icon-filter.svg" alt="Filtros"> Filtrar categorías
                        </button>
                    </div>
                </div>

                <div class="row filters-container" v-show="showFilters">
                    <div class="col-sm-12"
                        style="margin-bottom: 0px;border: 1px solid #ecebed;border-radius: 4px;text-align: center;padding: 20px;">
                        <p class="filters">
                            <label><input type="checkbox" @change="setOptions" name="filter" value="Todos"
                                    v-model="checkedCategories"><span>Todos</span></label>
                            <label v-for="category in categories"><input type="checkbox" @change="setOptions"
                                    name="filter" :value="category.id"
                                    v-model="checkedCategories"><span>{{ category.name }}</span></label>
                        </p>
                        <!--<p>{{ checkedCategories }}</p>-->
                        <div style="float: right;position: relative;">
                            <button class="btn btn-primary" @click="showFilters = false">Cerrar</button>
                        </div>
                    </div>
                </div>

                <div v-if="tab.name == 'Lecturas PDF'">
                    <div v-for="pdf in pdfs">
                        <p class="category-title">{{ pdf.name }}</p>

                        <div class="tabs-container" style="margin-bottom: 0;">
                            <div class="row cards-container">
                                <div v-for="book in pdf.books" :class="'card '">
                                    <div class="card-image">
                                        <img v-lazy="URLImages+level+'/pdf/'+slug(book.title)+'.png'" :alt="book.title"
                                            @error="imageUrlAlt">
                                    </div>
                                    <div class="card-text">
                                        <p>{{ book.title }}</p>
                                    </div>
                                    <div class="card-tools">
                                        <div class="tool">
                                            <div>
                                                <a :href="book.link ? book.link : '#'"
                                                    :target="book.link ? '_blank' : ''" class="btn btn-primary">Leer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div ref="layout" v-if="tab.name == 'Lecturas Unicef'">
                    <p class="category-title">{{ categoryTitle }}</p>

                    <div class="tabs-container">
                        <div class="row cards-container">

                            <paginate name="books" :list="searchBooks" :per="20" :container="$root" ref="paginator"
                                style="margin-left: -50px;">
                                <div v-for="book in paginated('books')" :class="'card'">
                                    <div class="card-image">
                                        <img v-lazy="URLImages+level+'/'+slug(book.title)+'.png'" :alt="book.title"
                                            @error="imageUrlAlt">
                                    </div>
                                    <div class="card-text">
                                        <p>{{ book.title }}</p>
                                    </div>
                                    <div class="card-tools">
                                        <div class="tool">
                                            <div>
                                                <a :href="book.link ? book.link : '#'"
                                                    :target="book.link ? '_blank' : ''" class="btn btn-primary">Leer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </paginate>
                        </div>

                        <div v-if="showFilteredItems">
                            <span v-if="$refs.paginator">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item noselect" style="cursor: pointer;"><a @click="$root.prev"
                                                class="page-link">
                                                <<< /a>
                                        </li>
                                        <li class="page-item noselect" style="cursor: pointer;"><a @click="$root.next"
                                                class="page-link">>></a></li>
                                    </ul>
                                    <p>Mostrando: {{$refs.paginator[0].pageItemsCount.replace("of", "de")}}</p>
                                </nav>
                            </span>
                        </div>
                    </div>
                </div>

                <div v-if="tab.name == 'Audiolibros'">

                    <p class="category-title">Audiolibros</p>

                    <div class="tabs-container">
                        <div id="audiolibros-container" class="row cards-container">
                            <div v-for="audiobook in audiobooks" class="card2">
                                <div class="card2-text">
                                    <p>{{ audiobook.name }}</p>
                                </div>
                                <div class="card2-image">
                                    <img v-lazy="audiobook.image" :alt="audiobook.name" @error="imageUrlAlt">
                                </div>
                                <div class="card2-audio">
                                    <div class="audio">
                                        <div>
                                            <audio controls>
                                                <source :src="audiobook.link" type="audio/mpeg">
                                                Tu navegador no es compatible con el elemento de audio.
                                            </audio>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </tab>
        </tabs>
    </div>

    <footer class="main-footer">
        <div class="list-info">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3"><img data-v-9e928f9a=""
                            src="https://framework-gb.cdn.gob.mx/landing/img/logoheader.svg" href="/"
                            alt="logo gobierno de méxico" class="logo_footer" style="max-width: 90%;"></div>
                    <div class="col-sm-3">
                        <h5>Enlaces</h5>
                        <ul>
                            <li><a href="https://participa.gob.mx" target="_blank" rel="noopener"
                                    title="Enlace abre en ventana nueva">Participa</a></li>
                            <li><a href="https://www.gob.mx/publicaciones" target="_blank" rel="noopener"
                                    title="Enlace abre en ventana nueva">Publicaciones Oficiales</a></li>
                            <li><a href="http://www.ordenjuridico.gob.mx" target="_blank" rel="noopener"
                                    title="Enlace abre en ventana nueva">Marco Jurídico</a></li>
                            <li><a href="https://consultapublicamx.inai.org.mx/vut-web/" target="_blank" rel="noopener"
                                    title="Enlace abre en ventana nueva">Plataforma Nacional de Transparencia</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>¿Qué es gob.mx?</h5>
                        <p>Es el portal único de trámites, información y participación ciudadana.
                            <a href="https://www.gob.mx/que-es-gobmx">Leer más</a>
                        </p>
                        <ul>
                            <li><a href="https://datos.gob.mx">Portal de datos abiertos</a></li>
                            <li><a href="https://www.gob.mx/accesibilidad">Declaración de accesibilidad</a></li>
                            <li><a href="https://www.gob.mx/privacidadintegral">Aviso de privacidad integral</a></li>
                            <li><a href="https://www.gob.mx/privacidadsimplificado">Aviso de privacidad simplificado</a>
                            </li>
                            <li><a href="https://www.gob.mx/terminos">Términos y Condiciones</a></li>
                            <li><a href="https://www.gob.mx/terminos#medidas-seguridad-informacion">Política de
                                    seguridad</a></li>
                            <li><a href="https://www.gob.mx/sitemap">Mapa de sitio</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <h5>
                            <a
                                href="https://www.gob.mx/tramites/ficha/presentacion-de-quejas-y-denuncias-en-la-sfp/SFP54">Denuncia
                                contra servidores públicos</a>
                        </h5>
                        <h5>Síguenos en</h5>
                        <ul class="list-inline">
                            <li>
                                <a class="social-icon facebook" target="_blank" rel="noopener"
                                    title="Enlace abre en ventana nueva" href="https://www.facebook.com/gobmexico"
                                    aria-label="Facebook de presidencia"></a>
                            </li>
                            <li>
                                <a class="social-icon twitter" target="_blank" rel="noopener"
                                    title="Enlace abre en ventana nueva" href="https://twitter.com/GobiernoMX"
                                    aria-label="Twitter de presidencia"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid footer-pleca">
            <div class="row">
                <div class="col"><br><br></div>
            </div>
        </div>
    </footer>
    <!-- <div w3-include-html="footer.html"></div> -->s

    <!-- <script src="https://unpkg.com/vue"></script> -->
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/vue-lazyload/vue-lazyload.js"></script>
    <script src="/node_modules/vue-paginate/dist/vue-paginate.min.js"></script>
    <script src="/node_modules/underscore/underscore-min.js"></script>

    <script type="text/javascript" src="/assets/scripts/lecturas/aec_lecturas.min.js"></script>
</body>

</html>