<!DOCTYPE html>
<html>

<head>
    <title>Experiencias</title>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-router"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src='https://unpkg.com/v-calendar'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js"></script>
   <!-- Latest compiled and minified CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
       integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link href="https://framework-gb.cdn.gob.mx/assets/styles/main.css" rel="stylesheet">
    <link href="/assets/styles/aec_experiencias.css" rel="stylesheet"/>
    <link href="/assets/styles/aec.css" rel="stylesheet"/>
    <script src="/assets/scripts/includehtml.js"></script>
</head>

<body>
    <div w3-include-html="header.html"></div>
    <div id="app" class="container" style="margin-top: 70px;">
        <nav class="navbar aec">
            <div class="row">
                <div class="col-sm-9">
                    <ol class="breadcrumb aec">
                        <li>
                            <a href="https://www.gob.mx/aefcm">
                                <span class="glyphicon glyphicon-home"></span>
                            </a>
                        </li>
                        <li>
                            <a href="/aprende-en-casa/index.html">Inicio</a>
                        </li>
                        <li>
                            <a href="#">...</a>
                        </li>
                        <li>
                            <a :href="breadcrumbUrl">{{ breadcrumbText }}</a>
                        </li>
                        <li class="active">Experiencias</li>
                    </ol>
                </div>
                <div class="col-sm-3 visible-md visible-lg">
                    <img class="img-responsive  navbar-logo" src="/assets/images/logo_aprende@2x.svg" alt="">
                </div>
            </div>
        </nav>

        <div id="content">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <h3 class="text-center">Experiencias</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">

                    <div class="tabs">
                        <div class="tab col-sm-4" v-bind:class="[index === 0 ? activeClass : '']" v-for="(tab,index) in tabs[nivel]" :key="index">
                            <a href="#">
                                <img class="img-responsive" :src="'/assets/images/experiencias/'+tab+'.png'" alt="">
                            </a>
                        </div>
                    </div>

                    <div class="tabs-details">
                        <div class="tabs-container">
                            <span class="title">
                                Selecciona una fecha para revisar las actividades para tu carpeta.
                            </span>
                            <div class="sub text-center">
                            <v-calendar :max-date="new Date()" is-expanded
                                locale="es"
                                :columns="$screens({ default:1})"
                                @dayclick="selectDay"
                                :attributes='calendarAttrs'
                            ></v-calendar>

                            <div id="menu" class="menu" style="display: none">
                                <div class="" style="text-align: left">
                                    <strong id="date1"></strong>
                                    <h5>¿Qué vimos hoy?</h5>

                                    <!-- Experiences -->
                                    <div>
                                        <div class="row">
                                            <div class="col-sm-12 topics" id="experiences">

                                            </div>
                                        </div>
                                    </div>
                                    <!-- End Experiences -->
                                </div>

                            </div>
                        </div>
                            <div class="menu" id="menu">
                                <h5>¿Qué vimos hoy?</h5>
                                <div class="row">
                                    <div v-if="experienciasDisplay !== undefined">
                                        <a href="#" @click.prevent="openModal(exp.modal_url)" id="show-modal" v-for="exp in experienciasDisplay.topics" :key="exp.index" data-toggle="modal">

                                        <img width="380" height="105" :src="'/assets/images/experiencias/'+exp.topic+'.png'" class="img-responsive" alt="">
                                    </a>
                                    </div>
                                    <div v-else>
                                        <h3>Estamos preparando contenido para tí</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

       <modal v-if="showModal" @close="showModal = false">
       <!-- you can use custom content here to overwrite
                default content  -->
        <h3 slot="header">custom header</h3>
      </modal>

    </div>

    <div w3-include-html="footer.html"></div>

    <script type="text/x-template" id="modal-template">
      <transition name="modal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-container">

              <div class="modal-header">
                <slot name="header">
                  default header
                </slot>
              </div>

              <div class="modal-body">
                <slot name="body">
                  default body
                </slot>
              </div>

              <div class="modal-footer">
                <slot name="footer">
                  default footer
                  <button class="modal-default-button" @click="$emit('close')">
                    OK
                  </button>
                </slot>
              </div>
            </div>
          </div>
        </div>
      </transition>
    </script>

    <script>

        Vue.component('modal', {
            template: "#modal-template"
        });

        var router = new VueRouter({
            mode: 'history',
            routes: []
        })


        var app = new Vue({
            router,
            el: '#app',
            data: {
                showModal: false,
                calendarAttrs:{
                    mode: 'single',
                    selectedDate: null,
                    dates:{
                        start: new Date(2020,4,1),
                        end: new Date(2020,4,12),
                        weekdays:[2,3,4,5,6],
                        highlight:true,
                        key:'today',
                    }
                },
                message: 'Hello Vue!',
                experiencias:[],
                experienciasDisplay:[],
                nivel:"",
                info:"",
                activeClass:"is-active",
                mode:'single',
                selectedDate: null,
                tabs:{
                    preescolar:[
                        "preescolar"
                    ],
                    primaria:[
                        "primaria1",
                        "primaria2",
                        "primaria3",
                    ],
                    secundaria:[
                        "secundaria1",
                        "secundaria2",
                        "secundaria3",
                    ]
                },
            },
            mounted: function(){
                parameters = this.$route.query;
                this.nivel = parameters.nivel;
                experienciasURL="http://localhost:8100/assets/scripts/experiencias/experiencias_"+this.nivel+"_1.json"
                //experienciasURL = "https://www.aprendeencasa.mx/assets/scripts/experiencias/experiencias_"+this.nivel+"_1.json"
                axios
                .get(experienciasURL)
                .then(response => {
                    this.experiencias = response.data
                    this.experienciasDisplay= this.experiencias
                })
            },
            methods: {
                filtra: function(fecha){
                    this.experienciasDisplay = _.findWhere(this.experiencias,{date: fecha})
                },
                selectDay: function(e){
                    this.filtra(e.id);
                },
                openModal: function(e){
                    console.log(e);
                    this.showModal = true;
                }
            },
            computed:{
                breadcrumbText: function(){
                    return "Educación "+ this.nivel;
                },
                breadcrumbUrl: function(){
                    return "../niveles/"+this.nivel;
                }
            }
        })

    </script>

    <script>includeHTML();</script>

    <!-- Latest compiled and minified JavaScript -->
</body>

</html>
