.navbar.aec{
  background-color: rgba(179, 51, 127, 1.0) !important;
  color: white;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
}

.breadcrumb.aec{
  padding:15px 20px;
  margin-bottom: 15px;
  color: #ffffff;
}

.breadcrumb.aec a{
  color: white !important;
}

.breadcrumb > li + li::before{
  color: #fff !important;
}

.breadcrumb>li+li {
    color: #fff;
}

.breadcrumb.aec>.active {
 font-weight:bold;
 color:white
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.navbar-logo{
  margin-right: 10px;
  padding-top: 5px;
  padding-right: 15px;
  width: 100%;
}

h3,h4 {
  color: #d53c88 !important;
}
h3{
  font-size: 28px;
}

.nivel{
 padding:0px 5em;
}

.btn-aec{
  background-color: rgba(179, 51, 127, 1.0) !important;
  color: #fff !important;

}
button.btn-agenda:hover{
  background-color: rgb(184, 96, 149) !important;
}

.card{
  position: relative;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 1rem;
  padding: 1rem 3rem;
}

.panel {
  border:0px;
  box-shadow: 0px 0px 0px;
}

.panel-actividades{
  border-radius: 8px;
  border: solid 1px #cccccc;
  background-color: var(--zwicon-white);
  padding: 10px;
}

.btn-actividad{
  margin:0px;
  height: 54px;
  border-radius: 4px;
  border: solid 1px #eceeef;
  background-color: var(--zwicon-white);
  padding: 2px;
  margin-bottom: 15px;
  width: 210px;
  height: 54px;
  text-align: left;
}

.btn-actividad:hover{
    background-color: #006dd0;
    color: #fff;
}

.img-actividad-icon{
  display: inline;
  width: 50px;
}

.btn-actividad-titulo{
  display: inline;
  font-size: 0.9em;
  padding-inline: 5px;
}

.act-h4{
  color: #333e53 !important;
}


.margin-bottom{
  margin-bottom: 80px;
}



.btn-agenda.btn-primary:hover{
    color: #000 !important;
    background-color: rgba(179, 51, 127, 0.1)!important;
    border-color:#b3337f !important;
}
.btn-agenda.btn-primary{
    color: #000 !important;
    background-color: white !important;
    border-color:#b3337f !important;
    border-width: 2px;
}

.btn-agenda{
  width:100%;
  font-size: 0.8em !important;
  padding: 5px 5px !important;
  word-wrap: break-word;
  white-space: normal;
  min-height: 50px !important;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}


hr.agenda{
  border-top: 3px solid #b3337f;
}

.btn-disabled{
  color: #333e53;
  background-color: #e4e9f2;
  width:100%;
  font-size: 0.8em !important;
  padding: 5px 5px !important;
  word-wrap: break-word;
  white-space: normal;
  min-height: 50px !important;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
}

.btn-disabled:hover{
  color: #293344;
  background-color: #e4e9f2;
}
td.disabled{
  background-color: #e4e9f2;
}

.nav-pills>li>a{
  text-decoration: none;
  border-radius: 30px;
 background-color: #e4e9f2;
 color: #333e53;
 margin-right: 15px;
}

.nav-pills>li{
  margin-right: 0.5em;
}

.nav-pills>li>a.active{
 background-color: #006dd0;
color: #fff;
}

.contenido-externo{
  width: 100%;
}
.btn-tarea{
  white-space:normal !important;
  font-size: 0.8em !important;
  padding: 5px 5px !important;
  width: 100%;
}

.btn-tarea:hover{
  white-space:normal !important;
  background-color: rgba(179, 51, 127, 0.6) !important;
  }

.menu-middle{
  margin-top: 30px;
}


.img-carpeta {
    max-height: 55.5px;
}


.grid {
  max-width: 950px;
  padding-bottom: 100px;
}

/* clearfix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}
/* ---- grid-item ---- */

.grid-sizer{
  width:100%;
}


.grid-item {
  width: 30%;
  height: 370px;
  margin: 2px;
  float: left;
  border-radius: 5px;
  display: none;
}

.show{
  display: block;
}

.btn-actividad.active{
  background-color: #006dd0;
  color: #fff;
}
