#app{margin-top: 74px;padding-left: 0;padding-right: 0;padding-bottom: 40px;}
body{background-color: #fefefe !important;font-family: 'Nunito', sans-serif;}
.vc-title,.vc-weekday{color:rgba(179, 51, 127, 1.0) !important;}
.vc-flex{color:#FFFFFF !important;background-color: #3182ce !important;border-radius: 50% !important;}
.tabs .is-active{border: 1px solid #01a2aa !important;}
.tabs .tab {padding-bottom: 0}
.tabs .tab img{border-radius: 8px;border: 1px solid #ecebed;}
.tabs-details{padding-top: 140px}
.tabs-container{margin-bottom: 100px;border:none;border-radius: 10px; text-align: center;padding:0}
.tabs-container .title{margin-top: 100px;font-weight: bold}
.tabs-container .sub{padding:40px;background-color: #FFFFFF;margin-top: 40px;border-radius: 5px;-webkit-box-shadow: 1px 2px 21px -10px rgba(0,0,0,0.35); 
box-shadow: 1px 2px 21px -10px rgba(0,0,0,0.35);}
.tabs-container .sub .menu{margin-top:40px;border:1px solid #cccccc;border-radius: 10px; text-align: center;padding: 20px}
.grid{padding-bottom: 0px !important}
.modal-title{color:#FFFFFF !important;}
.close{color:#FFFFFF;opacity: 0.5 !important;}
.close:hover{color:#ACADAD !important}
.tabs-container h5{color: #d53c88;}
.text-center{margin: 10px 0 20px 0;}
.btn-primary{color: #FFFFFF;background-color: #BA186A;border-color: #BA186A;padding: 5px 40px;}
.btn-primary.active, .btn-primary:active, .btn-primary:hover{color: #FFFFFF;background-color: #9E1559;border-color: #9E1559}
.btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {background-color: #fcfcfc !important;border-color: #9E1559 !important;color:#2c374b !important}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.btn-default.dropdown-toggle.focus, .open>.btn-default.dropdown-toggle:focus, .open>.btn-default.dropdown-toggle:hover {
    background-color: #fcfcfc !important;border-color:none !important;color:#2c374b !important
}
.btn-default.focus, .btn-default:focus {
    background-color: #fcfcfc !important;background-color: #fcfcfc !important;color:#2c374b !important
}
h1{font-size: 40px;font-weight: 800;font-stretch: normal;font-style: normal;line-height: 1.2;letter-spacing: normal;color: #992576;}
.has-search .form-control {padding-left: 2.375rem;}
.has-search .form-control-feedback {
    position: absolute;
    top: 14px;
    right: 35px;
    font-size: 30px;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 6rem;
    line-height: 3.375rem;
    text-align: center;
    pointer-events: none;
    color: #992576;
}
.form-control {
    width: 100%;
    height: 60px;
    padding: 6px 12px;
    background-color: #fcfcfc;
    border: 1px solid #ecebed;
    border-radius: 5.8px;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input[type="text"]::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: 600;
    color: #2c374b;
}
input[type="text"]::-ms-input-placeholder {
    font-size: 20px;
    font-weight: 600;
    color: #2c374b;
}
input[type="text"]::placeholder {
    font-size: 20px;
    font-weight: 600;
    color: #2c374b;
}
.btn-default.active, .btn-default:active, .btn-default:hover, .open>.btn-default.dropdown-toggle {
    color: #FFF;
    background-color: #992576;
    border-color: #992576
}
.card {
  float: left;
  width: 180px;
  display: grid;
  grid-template-columns: 180px;
  grid-template-rows: 90px 120px 80px;
  grid-template-areas: "image" "text" "tools";

  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 1px 2px 21px -10px rgba(0,0,0,0.35);
  box-shadow: 1px 2px 21px -10px rgba(0,0,0,0.35);
  text-align: left;

  transition: 0.5s ease;
  margin: 11px;
  padding: 0 !important;
  border: none;
}
.card-image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-image img{
    width: 100%;
    height: 90px;
}
.card-text {
    grid-area: text;
    margin: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3em;
}
.card-text .title {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card-text p {
  font-size: 15px;
  font-weight: 500;
}
.card-tools {
    grid-area: tools;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card-tools .tool {
    padding: 0px 26px 10px 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.text-center {
    color: #b3337f !important;
    margin-top: 0px;
}
.cards-container{
  margin-left: 0;
}
.sub-nav{
  padding: 20px 100px 50px 100px;
}

/* Cards audiolibros */
.card2 {
  float: left;
  width: 350px;
  display: grid;
  grid-template-columns: 350px;
  grid-template-rows: auto 145px auto;
  grid-template-areas: "text" "image" "audio";

  border-radius: 10px;
  background: white;
  -webkit-box-shadow: 1px 2px 21px -10px rgba(0,0,0,0.35);
  box-shadow: 1px 2px 21px -10px rgba(0,0,0,0.35);
  text-align: left;

  transition: 0.5s ease;
  margin: 25px;
  padding: 0 !important;
  border: none;
}
.card2-text {
    grid-area: text;
    margin: 25px 40px 0px 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 1.3em;
    text-align: center;
}
.card2-text .title {
    color: rgb(255, 7, 110);
    font-size:13px;
}
.card2-text p {
  font-size: 15px;
  font-weight: 500;
}
.card2-image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card2-image img{
    width: 89px;
    height: 114px;
}
.card2-audio {
    grid-area: audio;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.card2-audio .audio {
    padding: 0px 26px 10px 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}
.btn-default{
    padding:15px 15px 10px 17px;
    color: #2c374b;
    border: 2px solid #ecebed;
    box-shadow: none;
    border-radius: 4px;
    background-color: #fcfcfc;
    font-size: 20px;
    font-weight: 600;
}
.category-title{font-size: 24px;font-weight: bold;font-stretch: normal;font-style: normal;line-height: 1.33;letter-spacing: normal;color: #2c374b !important;margin-top: 15px;padding-bottom: 15px;border-bottom: 1px solid #01a2aa;}

/* Filters */
.filters input[type="checkbox"] {
    display: none;
}

.filters span {
    display: inline-block;
    padding: 15px;
    border: 1px solid #ecebed;
    border-radius: 4px;
    color: #2c374b;
    font-size: 18px;
    font-weight: 600;
    background-color: #fcfcfc;
    cursor: pointer;
}

.filters input[type="checkbox"]:checked + span {
    background-color: #01a2aa;
    color: #fafdfe;
}

.filters label {
    margin-bottom: 20px;
    margin-right: 20px;
}

/* Pagination */
.paginate-links li {
    display: inline-block;
    margin: 0 10px;
}
.paginate-links .items {
    user-select: none;
}  
.paginate-links a {
    cursor: pointer;
    color: #42b983;
}
.paginate-links li.active a {
    font-weight: bold;
}
.paginate-links li.next:before {
    content: ' | ';
    margin-right: 13px;
    color: #ddd;
}
.paginate-links li.disabled a {
    color: #ccc;
    cursor: no-drop;
}
.pagination>li>a, .pagination>li>span {
    color: #01a2aa;
    font-size: 16px;
}
.pagination>li>a:focus, .pagination>li>a:hover, .pagination>li>span:focus, .pagination>li>span:hover {
    color: #FFF;
    background-color: #01a2aa;
    border-color: #01a2aa;
}
.search-container{padding-left: 30px}
.form .filter-btn{padding-right: 30px}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {              
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {              
}
/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {       
    .card{width:165px;grid-template-columns:165px;}       
}
/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .text-center{margin: -15px 0 20px 0;}        
    .card{width: 175px;grid-template-columns: 175px;}    
    audio{width:255px;}
    .card2{width: 303px;grid-template-columns: 303px;margin:10px;}
}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {              
}
/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    .tabs-container{padding: 10px}
    .tabs-container .sub{padding:20px}
    .tabs-details {padding-top: 22px;} 
    .tabs .tab {margin-bottom: 10px;padding-right: 0;}
    .text-center{margin: 15px 0 20px 0;}
    .category-title {text-align: left;margin-left: 20px;}
    .form{margin-bottom: 30px;}
    .form .filter-btn{text-align: center !important;}
    .header-text{padding: 0 15px;}
    .text-left{padding-left: 15px;}
    .card2 {width: 320px;grid-template-columns: 320px;}
    .card {width: 163px;grid-template-columns: 163px;grid-template-rows: 90px 139px 80px}
    .filters span {width: 100%}
    .filters label {margin-bottom:10px;margin-right:0;width: 100%;}
    .filters-container {padding-left: 30px;padding-right: 15px;}
    .search-container{padding-left: 30px !important;padding-right: 15px;}
}
@media (min-width: 768px){
    .col-sm-2 {
        width: 14.2%;
    }
} 
@media (min-width: 1200px) {
    .container {
        width: 1200px;
    }
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }